:root {
  --primary-font: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}
section {
  margin: 0 auto;
  padding: 100px;
}
.landing-page img {
  width: 510px;
  border: 1px solid rgba(32, 34, 33, 0.6);
  float: right;
}
.landing-page h2 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}
.landing-page h1 {
  font-weight: 700;
  font-size: 44px;
  margin: 0;
  padding: 0;
}
.landing-page p {
  font-size: 16px;
  line-height: 1.5;
}
.grid {
  display: grid;
  grid-gap: 30px;
}
.grid-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.portfolio {
  background-color: rgb(255, 255, 255);
}
.portfolio img {
  max-width: 100%;
}
.portfolio h2 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0 0 10px 0;
  padding: 0;
}
.portfolio h3 {
  font-weight: 700;
  font-size: 34px;
  margin: 0;
  padding: 0;
}
.portfolio h4 {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
.portfolio h5 {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}
.portfolio p {
  font-size: 16px;
  line-height: 1.6;
}
.portfolio-grid {
  background-color: white;
  margin-top: 40px;
  border: 1px solid rgba(32, 34, 33, 0.3);
}
.portfolio-grid-container {
  padding: 10px 30px;
}
.grid-3-equal-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.landing-page-button {
  background-color: rgb(86, 155, 51);
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding: 16px 32px;
  text-align: center;
}
.website-button {
  background-color: rgb(86, 155, 51);
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin: 28px auto;
  padding: 16px 32px;
  text-align: center;
}
@media (max-width: 1280px) {
  section {
    padding: 40px 30px;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .grid-4 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 22px;
  }
  .landing-page {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  .landing-page img {
    width: 300px;
    border-radius: 300px;
    float: none;
  }
  .landing-page h1 {
    font-size: 26px;
    margin: 10px 0;
  }
  .landing-page-text p {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 15px;
  }
  .landing-page-button {
    width: 200px;
  }
}
@media (max-width: 580px) {
  .grid-4 {
    grid-template-columns: 1fr;
    grid-gap: 22px;
  }
}
