:root {
  --primary-font: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}
section {
  margin: 0 auto;
  padding: 130px;
}
.landing-page img {
  width: 500px;
  border: 1px solid rgba(32, 34, 33, 0.6);
  float: right;
}
.landing-page h2 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}
.landing-page h3 {
  font-weight: 700;
  font-size: 44px;
  margin: 0;
  padding: 0;
}
.landing-page p {
  width: 450px;
  font-size: 16px;
  line-height: 1.6;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.portfolio img {
  max-width: 100%;
}
.portfolio h2 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0 0 10px 0;
  padding: 0;
}
.portfolio h3 {
  font-weight: 700;
  font-size: 34px;
  margin: 0;
  padding: 0;
}
.portfolio h4 {
  font-weight: 700;
  font-size: 34px;
  margin: 0;
}
.portfolio h5 {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}
.portfolio p {
  font-size: 16px;
  line-height: 1.6;
}
.portfolio {
  background-color: rgb(241, 242, 245);
}
.portfolio-grid {
  background-color: white;
  margin-top: 30px;
}
.portfolio-grid-container {
  padding: 30px;
}
.grid-3-equal-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.landing-page-button {
  background-color: rgb(33, 86, 199);
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding: 16px 32px;
  text-align: center;
}
.website-button {
  background-color: rgb(33, 86, 199);
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin: 28px auto;
  padding: 16px 32px;
  text-align: center;
}
@media (max-width: 1280px) {
  section {
    padding: 40px 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .landing-page {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  .landing-page img {
    width: 300px;
    border-radius: 300px;
    float: none;
  }
  .landing-page h3 {
    font-size: 26px;
    margin: 10px 0;
  }
  .landing-page p {
    margin: 0 auto;
    width: 100%;
  }
  .landing-page-button {
    display: block;
  }
}
