:root {
  --primary-font: "Poppins", sans-serif;
  --seconday-font: "Source Code Pro", monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  color: #322433;
}
section {
  margin: 0 auto;
  padding: 120px 200px;
}
footer {
  background-color: rgb(245, 240, 245);
  padding: 50px 200px;
}

section h2 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}
section h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 0;
}
hr {
  margin: 10px 0;
  opacity: 0.4;
  padding-bottom: 20px;
}
.navbar {
  background-color: white !important;
}
.navbar-brand {
  font-weight: 500;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.portfolio-container-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 40px;
}
.landing-page img {
  display: block;
  max-width: 100%;

  border: 1px solid rgba(32, 34, 33, 0.6);
}
.landing-page h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.1;
  margin: 0 0 20px 0;
  padding: 0;
  max-width: 500px;
}
.landing-page a {
  margin: 5px 15px 5px 0;
}
.landing-page a:hover {
  color: rgb(179, 37, 179);
}
.landing-page p {
  margin: 25px 0;
  font-size: 16px;
  line-height: 1.3;
  font-family: var(--seconday-font);
}
.landing-page-icons {
  padding-top: 10px 0;
}
.landing-page-icons i {
  padding: 0 50px 0 0;
}
.about-me {
  background-color: rgb(245, 240, 245);
}
.about-me p,
.about-me a {
  font-family: var(--seconday-font);
  font-size: 16px;
  line-height: 1.3;
}
.about-me img {
  max-width: 100%;
  border: 1px solid rgba(32, 34, 33, 0.6);
}
.landing-page a,
.about-me a,
.footer a {
  color: #322433;
  text-decoration: none;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}
.landing-page a:hover,
.about-me a:hover,
.footer a:hover {
  color: rgb(179, 37, 179);
}
.tab-box {
  display: flex;
}
.tab-box .tab-btn {
  color: #322433;
  background-color: white;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 60px 20px 0;
  opacity: 0.4;
  padding: 0;
  transition: ease-in-out 0.2s;
}
.tab-box .tab-btn:hover {
  text-decoration: underline;
}
.tab-box .tab-btn.active {
  opacity: 1;
  text-decoration: underline;
}
.content {
  display: none;
}
.content-box .content.active {
  display: block;
}
.portfolio-container {
  padding: 40px 0;
}
.portfolio-container-grid {
  padding: 20px 0;
}
.portfolio img {
  width: 100%;
}
.portfolio h4,
.portfolio h5,
.portfolio h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.portfolio h6 {
  font-weight: 600;
  font-size: 16px;
  opacity: 0.5;
}
.portfolio h4 {
  font-weight: 700;
  font-size: 26px;
}
.portfolio h5 {
  font-weight: 700;
  font-size: 14px;
}
.portfolio p {
  font-size: 14px;
  font-family: var(--seconday-font);
  line-height: 1.3;
  margin: 0;
}
.portfolio li {
  font-size: 14px;
  font-family: var(--seconday-font);
  line-height: 1.3;
}
.footer {
  background-color: rgb(245, 240, 245);
}
.footer ul {
  padding: 0;
}
.footer li {
  list-style: none;
  margin: 10px 0;
}
.footer i {
  margin: 0 10px 0 5px;
}
@media (max-width: 1280px) {
  section {
    padding: 60px 40px;
    text-align: center;
  }
  section h3 {
    font-size: 28px;
  }
  .landing-page {
    margin: 0 auto;
  }
  .landing-page img {
    width: 300px;
    border-radius: 300px;
    margin: 0 auto;
  }
  .landing-page h1 {
    font-size: 46px;
    margin: 10px auto;
  }
  .landing-page p {
    margin: 10px;
  }
  .landing-page a {
    margin: 15px;
  }
  .landing-page-icons i {
    padding: 10px 10px 0 10px;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
  .portfolio-container-grid {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .tab-box .tab-btn {
    font-size: 14px;
    width: 100%;
  }
  .about-me img {
    display: none;
  }
  .landing-page p,
  .about-me p,
  .portfolio p {
    padding: 10px 30px;
  }
  .portfolio ul {
    padding: 0;
  }
  .portfolio li {
    list-style: none;
  }
}
